Package: com.nito.vpnd
Name: vpnd
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: System
Tag: role::hacker
